/*ExS Armor Styles*/
.singular .comment-content a:not([class]),
.singular #layout article .entry-content a:not([class]){
	text-decoration: underline;
}

.singular .comment-content a:not([class]):hover,
.singular #layout article .entry-content a:not([class]):hover{
	text-decoration: none;
}

.sidebar-home > *,
.widgets-wrap > *{
	background-color: var(--colorBackground);
	padding: 30px;
	border-radius: 5px;
}

.page-template-no-sidebar-no-title #layout > *{
	padding-top: 1px;
}

.columns-gap{
	width: 30px;
}

@media screen and (min-width: 1400px) {
	.alignwide{
		margin-left: -30px;
		max-width: none;
		width: calc(100% + 60px);
	}
}

.hfeed #layout article{
	background-color: var(--colorBackground);
	padding: 30px;
	border-radius: 6px;
	overflow: hidden;
}

.hfeed #layout article .entry-footer-bottom{
	position: relative;
	top: 30px;
	padding: 30px;
	margin-left: -30px;
	margin-right: -30px;
	margin-top: -5px;
	background-color: rgba(127, 127, 127, .05);
}

.hfeed #layout .has-post-thumbnail .overlap-content{
	margin-left: -30px;
	margin-right: -30px;
	max-width: calc(100% + 60px);
}

.hfeed #layout[class*=cols-absolute] article.has-post-thumbnail{
	padding-bottom: 0;
}

.hfeed #layout:not([class*=side]) .post-thumbnail{
	font-size: inherit;
	margin-top: -30px;
	margin-left: -30px;
	margin-right: -30px;
	max-width: calc(100% + 60px);
}

#layout .grid-item{
	margin-bottom: 30px;
	padding-bottom: 0;
}

#layout.layout-gap-1 .grid-item{
	margin-bottom: 1px;
}

#layout.layout-gap-2 .grid-item{
	margin-bottom: 2px;
}

#layout.layout-gap-3 .grid-item{
	margin-bottom: 3px;
}

#layout.layout-gap-4 .grid-item{
	margin-bottom: 4px;
}

#layout.layout-gap-5 .grid-item{
	margin-bottom: 5px;
}

#layout.layout-gap-10 .grid-item{
	margin-bottom: 10px;
}

#layout.layout-gap-15 .grid-item{
	margin-bottom: 15px;
}

#layout.layout-gap-20 .grid-item{
	margin-bottom: 20px;
}

#layout.layout-gap-30 .grid-item{
	margin-bottom: 30px;
}

#layout.layout-gap-40 .grid-item{
	margin-bottom: 40px;
}

#layout.layout-gap-50 .grid-item{
	margin-bottom: 50px;
}

#layout.layout-gap-60 .grid-item{
	margin-bottom: 60px;
}

.hfeed article + article{
	margin-top: 30px;
}

.column-aside .widgets-wrap > * + *{
	margin-top: 0;
}

.column-aside .widgets-wrap > *{
	margin-bottom: 30px;
}

#main.overflow-visible{
	overflow: visible;
}

/*shop*/
.cart-dropdown p.woocommerce-mini-cart__buttons a.button{
	width: 100%;
	margin: 0 0 4px;
}

.woo ul.products li.product .woocommerce-loop-product__title{
	font-size: 1.3em;
}

.woo ul.products li.product .product-loop-item,
.single .summary.entry-summary,
.single .woocommerce-product-gallery,
.woo div.product .woocommerce-tabs .panel,
.woocommerce-error,
.woocommerce-info,
.woocommerce-message{
	background-color: var(--colorBackground);
	border-radius: 5px;
}

.woo div.product .woocommerce-tabs .panel,
.single .summary.entry-summary{
	padding: 30px;
}

.woo div.product .woocommerce-tabs ul.tabs{
	padding-left: 10px;
}

.woo div.product .woocommerce-tabs ul.tabs li,
.woo div.product .woocommerce-tabs .panel{
	border: none;
}

.woo div.product .woocommerce-tabs ul.tabs:before{
	display: none;
}

.woo div.product .woocommerce-tabs ul.tabs li{
	background-color: var(--colorLight);
}

.woo div.product .woocommerce-tabs ul.tabs li.active{
	background-color: var(--colorBackground);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.woo div.product .woocommerce-tabs ul.tabs li.active a{
	color: var(--colorDarkMuted);
}

.product-loop-item .product-text-wrap{
	padding: 0 30px 30px;
}

.product-loop-item .product-text-wrap .sku_wrapper,
.product-loop-item .product-text-wrap .posted_in{
	font-size: 12px !important;
	opacity: .6;
	font-weight: bold;
	text-transform: uppercase;
}

.woo ul.products li.product .woocommerce-loop-category__title{
	padding-left: 30px;
	padding-right: 30px;
}

.woo div.product .summary .product_meta{
	font-size: 12px !important;
	opacity: .6;
	font-weight: bold;
	text-transform: uppercase;
}

.select2-dropdown{
	background-color: var(--colorLight);
}

.select2-container--default .select2-selection--single{
	background-color: var(--colorLight);
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
	color: var(--colorDark);
}